<!-- <div class="container">
    <div class="black-box">Black-box</div>
    <div class="gray-box">Gray-box</div>
    <div class="green-box">Green-box</div>
</div> -->

<div class="overflowTest">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores id ea distinctio numquam cumque earum tenetur perspiciatis asperiores aspernatur recusandae. Natus fugiat est at modi qui provident soluta alias assumenda quasi obcaecati similique voluptas quae, mollitia suscipit laborum illo cupiditate labore id odit doloremque sed quia debitis esse rem! Dolorum rerum alias voluptatum voluptates perferendis assumenda dolore at temporibus vitae, repellendus possimus iure veniam tenetur voluptatibus adipisci nemo rem laudantium, molestiae sequi tempora numquam doloribus eligendi consequuntur. Placeat vitae quaerat exercitationem explicabo cupiditate, quos, enim facilis omnis voluptate aliquid nihil. Earum dolores atque nihil, quam, iusto, reprehenderit odio cumqued
    </div>

    <h1>Display property</h1>

    <div>
        Lorem ipsum dolor sit amet <span class="a">consectetur</span>&nbsp;<span class="a">adipisicing</span>adipisicing elit. Consectetur nobis tempora, et optio neque quia molestias exercitationem doloremque mollitia earum!
    </div>
    <div>
        Lorem ipsum dolor sit amet <span class="b">consectetur</span>&nbsp;<span class="b">adipisicing</span>adipisicing elit. Consectetur nobis tempora, et optio neque quia molestias exercitationem doloremque mollitia earum!
    </div>
    <div>
        Lorem ipsum dolor sit amet <span class="c">consectetur</span>&nbsp;<span class="c">adipisicing</span>adipisicing elit. Consectetur nobis tempora, et optio neque quia molestias exercitationem doloremque mollitia earum!
    </div>

    <div class="Center">
        vertically centered
    </div>