<div class="container">
<div class="header">
    <h1>My Website</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, facilis dolor vero nesciunt eveniet odit!</p>
</div>

<div class="topnav">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
</div>
<div class="row">
    <div class="leftcloumn">
        <div class="card">
            <h2>Title Heading</h2>
            <h5>Title description</h5>
            <div class="fakeimg" style="height: 200px;">Image</div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestiae dolore a beatae sapiente atque reprehenderit optio. Rerum, maiores recusandae!</p>
        </div>
        <div class="card">
            <h2>Title Heading</h2>
            <h5>Title description</h5>
            <div class="fakeimg" style="height: 200px;">Image</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In minus atque laudantium nam culpa commodi assumenda alias libero harum est?</p>
        </div>
    </div>
    <div class="rightCloumn">
        <div class="card">
            <h2>About Me</h2>
            <div class="fakeImg" style="height: 100px;">Image</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dignissimos repellat ad ducimus saepe earum nihil iusto quaerat ipsam quidem.</p>
        </div>
        <div class="card">
            <h3>Popular Post</h3>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
        </div>
        <div class="card">
            <h3>Follow me </h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, sed.</p>
        </div>
    </div>
</div>
<div class="footer">
    <h2>Footer</h2>
</div>
</div>

<!-- css math fynction -->
 <div id="div1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, in.</div>

 <p>rounded corners</p>
 <p id="roundedCorner"></p>

 <!-- css border origin property -->
  <div id="example1">
  <h2>Border origin property</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolores maiores dolor ducimus vel hic molestias quis aperiam vero non.</p>
</div>
<div class="Grad1">

</div>
<h1>Text shadow effect</h1>
<div>
    This div having box shadow
</div>