<!-- <p>Media query</p>
<div class="container">
    <p class="items1">This is a div</p>
    <p class="items2">This is another div 2</p> 
</div> -->
<!-- responsive four column layout -->
 <div class="column" style="background-color: blanchedalmond;">
    <h2>column1</h2>
    <p>some text here....</p>
 </div>
 <div class="column" style="background-color: rgb(155, 150, 143);">
    <h2>column1</h2>
    <p>some text here....</p>
 </div>
 <div class="column" style="background-color: rgb(88, 56, 8);">
    <h2>column1</h2>
    <p>some text here....</p>
 </div>
 <div class="column" style="background-color: rgb(240, 152, 19);">
    <h2>column1</h2>
    <p>some text here....</p>
 </div>