<!-- <h1>Display property</h1>
<h2>Display none</h2>
<p class="ex-1">
<span>text1</span>
<span>text2</span>
<span>text3</span>
</p>

<h2>Display Inline</h2>
<p class="ex-2">
<span>text1</span>
<span>text2</span>
<span>text3</span>
</p>
<h2>Display Block</h2>
<p class="ex-3">
<span>text1</span>
<span>text2</span>
<span>text3</span>
</p>
<h2>Display Inline-Block</h2>
<p class="ex-4">
<span>text1</span>
<span>text2</span>
<span>text3</span>
</p>
<h2>Display Flex</h2>
<p class="ex-4">
<span>text1</span>
<span>text2</span>
<span>text3</span>
</p>
<h2>Display Grid</h2>
<p class="ex-5">
<span>text1</span>
<span>text2</span>
<span>text3</span>
</p> -->


<!-- css position property -->
 <!-- <div class="static">
    This is a postion for property positions
 </div>

 <div class="fixed">
    This is the position fixed
 </div>
 <div class="relative">
    This is outer div
    <div class="absolute">This is inner div</div>
 </div>

 <div class="sticky">
    This is div for sticky position
 </div>
  -->

  <!-- css position properties combined-->
   <div class="container">
    <div class="T-left">Top left</div>
    <div class="R-left">Right left</div>
    <div class="B-left">bottom left</div>
    <div class="B-right">bottom right</div>
    <div class="center">Centered</div>
   </div>