<!-- CSS selectors -->
<div class="common">
  <h1 id="word">Hello</h1>
  <p>Lorem ipsum dolor sit amet.</p>
</div>

<!-- css combinator -->
<!--1. Descendant combinator  -->
<p>paragraph outside the div</p>
<div>
  <p>paragraph inside the div</p>
  <p>paragraph inside the dic</p>
  <p>paragraph inside the div</p>
  <section>
    <p>paragraph inside the section</p>
  </section>
  <p>paragraph inside the div</p>
</div>
<p>Paragraph outside the div</p>
<p>Paragraph outside the div</p>


<!-- Next sibling combinator   -->
<div>
    <p>Paragraph1</p>
    <p>Paragraph2</p>
    <p>Paragraph3</p>
</div>
<p>pragraph4</p>
<p>pragraph5</p>
<div>
    <p>paragraph6</p>
    <p>paragraph7</p>
</div>
<p>Paragaph8</p>
<p>Paragaph9</p>

<!-- pseudo-class -->
 <p>
    <a href="https://www.google.com/" target="_parent">Go to google</a>
 </p>

 <p><a href="https://www.google.com/" class="highlight"> CSS Tetourial</a></p>

 <div>Mouse Over Me</div>
<p>hover me to display h1 
    <span>
        here i am 
    </span>
</p>