<h1>Flex container</h1>
<div class="flex-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <!-- <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
    <div>10</div>
    <div>11</div>
    <div>12</div>
    <div>13</div>
    <div>14</div> -->
</div>

<!-- justify-content property -->
 <h1>justify content property</h1>
 <div class="justify-content">
    <div>D-1</div>
    <div>D-2</div>
    <div>D-3</div>
 </div>

 <h1>align-items property</h1>
 <div class="align-items">
    <div><h1>D-1</h1></div>
    <div><h6>D-2</h6></div>
    <div><small>D-3</small></div>
 </div>

 <!-- flex responsive -->
<div class="flex-container1">
    <div class="flex-item-left">first</div>
    <div class="flex-item-right">second</div>
</div>