<!-- <div class="image4">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, aliquid.
    </p>
</div>

<div class="container"></div>

<div class="first">
  <h1>opacity 0.1</h1>
</div>

<div class="second">
  <h1>opacity 0.3</h1>
</div>

<div class="third">
  <h1>opacity 0.6</h1>
</div>

<div class="bg-image">
  <h1>This is a nature of island</h1>
</div>
<div class="image1">
     <select name="" class="filter">
        <option value="" class="filter">Option1</option>
     </select>
</div>

<div class="image2">
    <h1>Hello wolrd</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum ex nulla rem iste adipisci illo voluptatibus quas ullam nisi similique!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum ex nulla rem iste adipisci illo voluptatibus quas ullam nisi similique!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum ex nulla rem iste adipisci illo voluptatibus quas ullam nisi similique!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum ex nulla rem iste adipisci illo voluptatibus quas ullam nisi similique!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum ex nulla rem iste adipisci illo voluptatibus quas ullam nisi similique!</p>
</div>
<div class="image3">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, dignissimos.</p>

</div> -->
<!-- <h1>The background-position-x Property</h1>
<div class="outer">
    <div class="inner">

    </div>
</div> -->
<!-- <div class="image5">

</div> -->
<!-- <div class="example1">

</div>
<div class="example2">

</div> -->

<!-- <div class="hero-image">
    <div class="hero-text">
        <h1>This is the text on image</h1>
    </div>

</div> -->
<!-- <div class="grad1">

</div> -->
<!-- <div class="grad2">

</div> -->
<!-- <div class="radial">

</div> -->
<div class="conic-grad">

</div>
<div class="myDiv">
    
</div>