<!-- <h2>Descendant Selector</h2>
<div>
    <p>This is1st  p in div</p>
    <p>This is 2nd p in div</p>
    <span><p>This is 3rd p in div</p></span>
</div>
<p>This is p not in div</p>
<p>This is p not in div</p>

<h2>Child combinator</h2>
<div>
    <p>Inside div</p>
    <p>Inside div</p>
    <section>
        <p>not child but decendent</p>
    </section>
</div>
<h2>Adjacent Sibling Selector</h2>
<div>
    <p>Inside div</p>
    <p>Inside div</p>
</div>
<p>P after div</p>
<p>P after div</p>
<div>
    <p>inside div</p>
    <p>inside div</p>
</div>
<p>p After div</p>
<p>p After div</p>

<h2>General Sibling Selector</h2>
<p>Before div</p>
<div>
    <p>Inside the div</p>
</div>
<p>After the div</p>
<p>After the div</p>
<div>
    <p>Inside the div</p>
</div>
<p>After the div</p> -->

<!-- css opacity -->
 <!-- <h2>Css opacity</h2>
 <div class="first">opacity 0.1</div>
 <div class="second">opacity 0.3</div>
 <div class="third">opaity 0.6  </div>
 <div> Default opacity</div> -->

 <!-- CSS navbar -->
  <!-- <ul>
    <li class="active">
        <a href="https://www.w3schools.com/">W3School</a>
    </li>
    <li><a href="Home">HOME</a></li>
    <li><a href="About Us">About Us</a></li>
    <li>
        <a href="Contact Us">Contact Us</a>
    </li>

  </ul> -->

  <!-- Vertical Navbar -->
  <ul>
    <li class="active">
        <a href="https://www.w3schools.com/">W3School</a>
    </li>
    <li><a href="Home">HOME</a></li>
    <li><a href="About Us">About Us</a></li>
    <li>
        <a href="Contact Us">Contact Us</a>
    </li>

  </ul>
  <div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <h2>Fixed Full-height Side Nav</h2>
    <h3>Try to scroll this area, and see how the sidenav sticks to the page</h3>
    <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
    <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    </div>
