<!-- <h3>Dropdoen</h3>
<div class="dropdown">
    <button class="dropbtn">Dropdown  </button>
    <div class="dropdownContent">
        <a href="#">Link1</a>
        <a href="#">Link2</a>
        <a href="#">Link3</a>
    </div>
</div> -->

<!-- Image gallery -->
 <h2>Image Gallery</h2>
 <div class="responsive">
    <div class="gallery">
        <a target="_blank" href="">
            <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="Ssss image" width="600" height="400">
        </a>
    </div>
 </div>
 <div class="responsive">
    <div class="gallery">
        <a target="_blank" href="">
            <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="Ssss image" width="600" height="400">
        </a>
    </div>
 </div>
 <div class="responsive">
    <div class="gallery">
        <a target="_blank" href="">
            <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="Ssss image" width="600" height="400">
        </a>
    </div>
 </div>
 <div class="responsive">
    <div class="gallery">
        <a target="_blank" href="">
            <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="Ssss image" width="600" height="400">
        </a>
    </div>
 </div>
 <div class="responsive">
    <div class="gallery">
        <a target="_blank" href="">
            <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="Ssss image" width="600" height="400">
        </a>
    </div>
 </div>
 <div class="responsive">
    <div class="gallery">
        <a target="_blank" href="">
            <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="Ssss image" width="600" height="400">
        </a>
    </div>
 </div>

 <h1>Front end langaues</h1>
 <h2>HTML</h2>
 <h2>CSS</h2>
 <h2>Bootstrap</h2>
 
 <h1>Scripting tetourials</h1>
 <h2>Javascript</h2>
 <h2>Jquery</h2>
 <h2>React</h2>

 <h1>Prgraming language </h1>
 <h2>PHP</h2>
 <h2>JAVA</h2>
 <h2>C Sharp</h2>